services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    env_file:
      - .env/frontend.dev.env
    ports: !override
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
  api:
    ports:
      - "8000:8000"
    volumes:
      - ./api:/code/
  db:
    ports:
      - "5432:5432"
  redis:
    ports:
      - "6379:6379"
