---
- name: Scan Platform
  hosts: all
  gather_facts: no
  tasks:
    - name: Collect platform info
      setup:
        filter:
          - 'ansible_distribution'
          - 'ansible_distribution_version'
          - 'ansible_kernel'
          - 'ansible_processor*'
          - 'ansible_memory_mb'
          - 'ansible_mounts'
          - 'ansible_default_ipv4'

    - name: Check if Node Exporter is running
      wait_for:
        port: 9100
        timeout: 1
        msg: "Checking for Node Exporter"
      register: node_exporter_check
      ignore_errors: yes

    - name: Put platform info into template
      template:
        src: ./templates/platform_info.j2
        dest: /tmp/{{ inventory_hostname }}-platform-info.json

    - name: Save the collected facts on the control node
      fetch:
        src: /tmp/{{ inventory_hostname }}-platform-info.json
        dest: "./platform_reports/{{ inventory_hostname }}-platform-info.json"
        remote_src: yes
        flat: yes
