name: Build And Push Docker Image

on:
    workflow_call:
      inputs:
          image_name:
              type: string
              required: true
              description: "Name of the image on dockerhub"
          context:
              type: string
              required: true
              description: "Path to the dockerfile"
          dockerfile_name:
              type: string
              required: false
              default: "Dockerfile"
              description: "Name of the dockerfile if different from standard naming"
      secrets:
        DOCKER_USERNAME:
            required: true
        DOCKER_TOKEN:
            required: true
jobs:
    build-and-push-image:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                context: ${{ inputs.context }}
                push: true
                tags: |
                    ${{ inputs.image }}:latest
                    ${{ inputs.image_name }}:${{ github.sha }}
                cache-from: type=registry,ref=${{ inputs.image_name }}:buildcache
                cache-to: type=registry,ref=${{ inputs.image_name }}:buildcache,mode=max
