name: CI API Action
on:
  workflow_call:
    inputs:
      python-version:
        description: 'Python version to use'
        required: false
        default: '3.12'
        type: string
jobs:
    test-api:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: ${{ inputs.python-version }}
            - name: Cache pip
              uses: actions/cache@v4
              with:
                path: ~/.cache/pip
                key: ${{ runner.os }}-pip-${{ hashFiles('api/requirements.txt') }}
                restore-keys: |
                  ${{ runner.os }}-pip-
            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r api/requirements.txt
            - name: Start application
              run: docker compose up api monitoring redis -d
            - name: Wait for services
              run: sleep 30
            - name: prepare API container for test
              run: docker compose exec api apk add --no-cache redis curl
            - name: Run tests
              run: |
                docker compose exec api pytest tests
            - name: Stop application
              run: docker compose down
