name: CI API Workflow
on:
  pull_request:
    branches:
      - dev
    paths:
      - 'api/**'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    test-api:
        runs-on: ubuntu-latest
        steps:
        - name: Run api tests
          uses: ./.github/workflow/ci-api.yaml
          with:
            python-version: '3.12'
