name: CI Frontend Action
on:
  workflow_call:
jobs:
    test-frontend:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v5
            - name: Build application
              run: docker compose up frontend -d
