name: Lint Workflow
on:
  pull_request: {}
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
    lint:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: read
            statuses: write
        steps:
        - name: Checkout code
          uses: actions/checkout@v5
          with:
            fetch-depth: 0
            persist-credentials: false
        - name: Run Super Linter
          uses: github/super-linter@v4
          env:
            VALIDATE_YAML: true
            VALIDATE_PYTHON_BLACK: true
            VALIDATE_TYPESCRIPT_ES: true
            VALIDATE_DOCKERFILE_HADOLINT: true
            VALIDATE_BASH: true
            VALIDATE_ANSIBLE: true
            ANSIBLE_DIRECTORY: /scripts/ansible
            VALIDATE_JSON: true
            VALIDATE_ALL_CODEBASE: false
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            DEFAULT_BRANCH: ${{ github.base_ref }}
